<div class='container bill-forms' ng-controller="NoderController">
	<div class='row'>
		<div class='col-sm-8 col-sm-offset-2 form-box'>
			<form ng-submit="payoffBill()" name="payoff_form" novalidate>
				<div class='form-top text-center'>

					<h2>
						发薪票据<i class=' icon-arrow-right'></i>
					</h2>

				</div>
				<div class='form-bottom'>
					<div class="form-group">
						<label for="" class="sr-only">发薪人：</label> <input type="text"
							ng-model="payoff.payoffNoder.companyName" name="signer"
							class="form-control " placeholder="发薪人..." required>

					</div>
					<div class="form-group">
						<label for="" class="sr-only">票据号：</label> <input type="text"
							ng-model="payoff.billNumber " name="billNumber"
							class="form-control " placeholder="票据号..." required>

					</div>
					<div class="form-group">
						<label for="" class="sr-only">收款人：</label> <input type="text"
							ng-model="payoff.payeeNoder.companyName" name="payee"
							class="form-control " placeholder="收款人..." required>

					</div>
					<div class="form-group">
						<label for="" class="sr-only">金额：</label> <input type="number"
							ng-model="payoff.moneySum" name="moneySum"
							class="form-control " placeholder="金额..." required>

					</div>
					<div class="form-group">
						<label for="" class="sr-only">承贴机构：</label> <input type="text"
							ng-model="payoff.discountingOrgNoder.companyName"
							name="discountingOrg" class="form-control " placeholder="承贴机构..."
							required>

					</div>
					<div class="form-group">
						<label for="">到期日：</label> <input type="date"
							ng-model="payoff.expireDate" name="expireDate"
							class="form-control " required>

					</div>
					<div class="form-group">
						<label for="" class="sr-only">发薪备注</label>

						<textarea rows="5" ng-model="payoff.remark" name="expireDate"
							class="form-control " placeholder="发薪备注..." required></textarea>

					</div>
					<div class='form-group'>
						<button type="submit" class="btn"
							ng-disabled="payoff_form.$invalid">发薪</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>