<div id="div1" class="row clearfix">
	<div class="jumbotron well brand">
		<div>
			<h1 style="font-size: 180px;">TBC<small>0.1</small></h1>
		</div>
		<br />
		<!-- <p style="align:center;"><span class='lead'>区块链</span>数字服务</p> -->
		<h2 class='text-center' style="font-family:'minijianlinxin661ec7c9216b1c';margin-bottom:20px;">化繁为简    架设信任</h2>
		<!-- <p style="text-align: center;">
			<a class="btn btn-lg btn-primary index-jumbo-icon text-center"
				href="#/register" name="joinIn"><span class='index-jumbo-text'>加入TC</span></a>
		</p> -->
	</div>
</div>




<div id='div6'>
	<h6 id='div8'></h6>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-1">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-log-in'></span>
							</div>
							<h3>解决方案</h3>
							<p>我们设计并构建运行在私人或企业集团之上的区块链解决方案。我们的方案整合web端及app应用程序，使用业界标准的RestFul，Webservice服务为企业应用端接入提供帮助。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-2">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-wrench'></span>
							</div>
							<h3>技术</h3>
							<p>我们以分布式去中心化的网络架构为基础提供定制化的区块链，这是我们在比较了几种不同规模区块链表现及其性能后提出的实现路径。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-3">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-earphone'></span>
							</div>
							<h3>咨询</h3>
							<p>我们提供区块链相关的咨询，培训及一篮子解决方案。我们以明确而务实的方法来让非技术出身，不了解区块链的人员更快掌握相关知识。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-4">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-heart'></span>
							</div>
							<h3>信任</h3>
							<p>在两个或更多组织间交换信息需要一定的信任关系（如交易，法律合同），而一个分布式区块链解决方案无需找一个双方都信赖的中介，就能通过数学证明，以民主大多数验证的方式，达到去中心化的信任关系。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-5">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-tasks'></span>
							</div>
							<h3>数据</h3>
							<p>区块链上可存储任何结构化数据。一旦存储的数据被区块链验证确认后，数据会被同步到所有参与的节点。以达到更好的数据容错，更快的数据备份，同时防止其中一方任意篡改数据。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-6">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-random'></span>
							</div>
							<h3>工作流</h3>
							<p>在区块链上运行基于智能合约实现的工作流，允许特定参与者以预定顺序执行任务。每次任务都被分发给参与的区块链节点之上，并将运行结果不可更改地记录到区块链上。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-7">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-lock'></span>
							</div>
							<h3>安全</h3>
							<p>全过程使用SHA，ECC，SM2，SM3等加密算法保证数据不可破解。充分保护用户隐私。基于POS的验证机制也确保数据，密码，网络不被少数人所掌握控制。</p>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
				<div class='quote-container'>
					<div class="row quote-content quote-content-8">
						<div class="col-xs-12">
							<div class="quote-content-head">
								<span class='glyphicon glyphicon-thumbs-up'></span>
							</div>
							<h3>容错</h3>
							<p>新节点可随时加入到区块链验证网络中，全网络基于P2P去中心化实现。除验证节点外。还包含容错备份节点，DAPP运行使用节点，以支持更灵活的分布式应用。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="div2" class="row clearfix" name="homeDivEven">
	<!-- <div class="column">
		<div class='container'>
			<div class="row clearfix">
					<div class="col-md-3 width30">
						<a name="tcPic" ng-click='div6()'>
							<div class="col-md-offset-1 col-md-10" name="tcTit">
								<span>TC技术</span>
								<hr/>
								<div>
									<img alt="TC技术 pic" src="images/tc1.JPG" class="img-rounded col-md-12"/>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-1 width5">
					</div>
					<div class="col-md-3 width30">
						<a name="tcPic" >
							<div class="col-md-offset-1 col-md-10" name="tcTit">
								<span>TC团队</span>
								<hr/>
								<div>
									<img alt="TC团队 pic" src="images/tc2.JPG" class="img-rounded col-md-12"/>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-1 width5">
					</div>
					<div class="col-md-3 width30">
						<a name="tcPic" >
							<div class="col-md-offset-1 col-md-10" name="tcTit">
								<span>TC未来</span>
								<hr/>
								<div>
									<img alt="TC未来 pic" src="images/tc3.JPG" class="img-rounded col-md-12"/>
								</div>
							</div>
						</a>
					</div>
			</div>
		</div>	
	</div> -->
	<div class='column' id='div9'>
		<div class='container'>
			<div class="row clearfix">
				<div class='col-sm-12'>
					<div class='index-down visible-lg text-center'>
						<div id='index-down-box' class='clearfix' ng-click='indexdown()'>
							<div class='index-down-arrow'>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
							<div class='index-down-arrow'>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</div>
					</div>
					<!-- <h2 class='img-fold text-center' >
						<i></i>关于我们<span class='caret'></span>
						<hr>
					</h2> 
					<div class='img-box'>
						<img alt="发展历史" src="images/timeline.png" class="fold-img" />
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class='bill-data-service'>
		<div class='container'>
			<div class='row'>
				<div class='col-xs-12'>
					<!-- <div class='data-service-mask'
						ng-hide="userName != null || noderName != null">
						<p>
							<a ng-href='#/login'>登 录</a>
						</p>
					</div>  -->
					<p class='more-wrapper text-center' foldtoggles>
						<a ng-href='javascipt:void(0)' class='btn'>在TC平台测试添加一条数据</a>
					</p>
					<div class='data-service-box'>
						<!-- <div class='data-service-head'>
							<h3>图灵链数据服务</h3>
						</div> -->
						<div class='data-service-body' ng-controller="testController">
							<div class='data-service-middle'>
								<form name='testApiForm' ng-submit='testApi()' novalidate>
									<div class='form-group'>
										<label for='' class='sr-only'>json格式:</label>
										<pre><span style='color:#de935f;margin-right:10px;'>json格式:</span></span>{"<span class='c66' style="color: #cc6666;">content</span>":<span
												class='b5bd68'>100</span>}</pre>

										<textarea class='form-control' rows='5'
											ng-keyup='mykeyup($event)' ng-model="testBill" name=''
											placeholder='输入您的json格式数据'
											ng-pattern='/^\{\"content\"\s*:\s*(.+?)+\}$/' required></textarea>

									</div>
									<div class='form-group'>
										<input type='submit' class='btn btn-success'
											ng-disabled='testApiForm.$invalid' value='提交数据'>
									</div>
								</form>
							</div>
							<div class='data-service-bottom'></div>
								<div class='data-service-top'>
									<p class='data-service-title'>返回结果</p>
									<div class='data-service-return'>
										<p class='clearfix'>
											<strong>TXID：</strong><a ng-click='getBytxid()' ng-bind='txid'
												class='data-service-txid'></a>
										</p>
										<p class='data-service-msg'>
											<lead>点击查询</lead>
											<span class='glyphicon glyphicon-arrow-up'></span>
										</p>
										<pre ng-bind="txidInfo">{"<span class='cc6666'>Bill_amount_money</span>":<span
												class='b5bd68'>100</span>}</pre>
										<p>
											<span class='data-service-text'>更多请访问</span><a
												ng-href="#/transaction/{{txid}}" class='data-service-link'>图灵链浏览器</a>
										</p>
										
									</div>
								</div>
						</div>
					</div>
					<div class='arrow-wrapper text-center'>
						<p class='more-info'>……</p>
						<div class='arrow-down'>
							<i class='arrow-icon glyphicon glyphicon-chevron-down'></i>
						</div>
					</div>
					<div id='div10'></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="div3" name="homeDivOdd">
	<p class='more-wrapper text-center' foldtoggle>
		<a ng-href='javascipt:void(0)' class='btn'>关于区块链</a>
	</p>
	<div class='div3-head'>
		<div class='container'>
			<div class="row">
				<div class="col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<h3>BlockChain 1.0</h3>
						</div>
						<img alt="控矿图" src="images/block1.png" name="scaleImg" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<h3>BlockChain 2.0</h3>
						</div>
						<img alt="区块链工厂图" src="images/block2.png" name="scaleImg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='arrow-wrapper text-center'>
		<p class='more-info'>……</p>
		<div class='arrow-down'>
			<i class='arrow-icon glyphicon glyphicon-chevron-down'></i>
		</div>
	</div>
	<div class='bill-turn'>
		<div class='container'>
			<h6 id='div7'></h6>
			<h3 class='text-center tc-text'>
				&nbsp;&nbsp;<span>TC</span>能做什么？
			</h3>
			<hr></hr>
			<div class='row'>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-usd'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>证券交易</span><i></i>
						</h3>
						<ul>
						<li>overstock</li>
						<li>DAH</li>
						<li>openledger</li>
						<li>Bitshare</li>
						<li>Maker/Dai</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-1'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-yen'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>电子商务</span><i></i>
						</h3>
						<ul>
						<li>openBazaar</li>
						<li>BitxBay</li>
						<li>Bitmawkets</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-2'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-piggy-bank'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>银行结算</span><i></i>
						</h3>
						<ul>
						<li>R3</li>
						<li>Hyperledger</li>
						<li>Ripple</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-3'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-phone'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>社交通讯</span><i></i>
						</h3>
						<ul>
						<li>Gems</li>
						<li>Codius</li>
						<li>Bitmessage</li>
						<li>Tweether</li>
						<li>Twister</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-4'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-save-file'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>文件存储</span><i></i>
						</h3>
						<ul>
						<li>maidsafe</li>
						<li>IPFS</li>
						<li>FileCoin</li>
						<li>Factom</li>
						<li>Storj</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-5'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-thumbs-up'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>众筹</span><i></i>
						</h3>
						<ul>
						<li>Swarm</li>
						<li>Koinfy</li>
						<li>lighthouse</li>
						<li>Factom</li>
						<li>小蚁</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-6'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-leaf'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>市场预测</span><i></i>
						</h3>
						<ul>
						<li>Augur</li>
						<li>TruthCoin</li>
						<li>Futarchy</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-7'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-sunglasses'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>身份验证</span><i></i>
						</h3>
						<ul>
						<li>BlockScore</li>
						<li>Shocard</li>
						<li>DIONS</li>
						<li>LaunchKey</li>
						<li>blockstack</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-8'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-duplicate'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>数据API</span><i></i>
						</h3>
						<ul>
						<li>blockmeta</li>
						<li>skry</li>
						<li>blockcypher</li>
						<li>tradeblock</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-9'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-floppy-disk'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>平台</span><i></i>
						</h3>
						<ul>
						<li>BlockStream</li>
						<li>以太坊</li>
						<li>RootStock</li>
						<li>BlockSign</li>
						<li>Tezos</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-10'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-globe'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>物联网</span><i></i>
						</h3>
						<ul>
						<li>ADEPT</li>
						<li>Filament</li>
						<li>Tilepany</li>
						<li>Slock.it</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-11'></div>
				</div>
				<div class='col-lg-2 col-md-4 col-sm-6 col-xs-6'>
					<div class='quote-block'>
						<h3>
							<span class='glyphicon glyphicon-bitcoin'
								style='vertical-align: middle'></span><span class='about-text'
								style='vertical-align: middle'>数字货币</span><i></i>
						</h3>
						<ul>
						<li>比特币</li>
						<li>ETC</li>
						<li>ETH</li>
						<li>火币</li>
						<li>okcoin</li>
					</ul>
					</div>
					<div class='quote-bgimg quote-bgimg-12'></div>
				</div>
			</div>
		</div>
	</div>
</div> -->


<!-- <div id="div4" class="row clearfix" name="homeDivEven">
	<div class="col-md-offset-2 col-md-8 column" ng-controller="rotateImgController">
		<div class="col-md-6 column">
			<h3>
				BlockChain Focus
			</h3>
			<img alt="工作原理" src="images/serverSolution.png" name="scaleImg1"
				ng-click="rotateImg()" id="rotateImg" 
				ng-mouseover="mouseOver()" ng-mouseup="mouseUp()" ng-mouseleave="mouseLeave()"/>
		</div>
		<div class="col-md-6 column">
			<h3>
				BlockChain as a Service
			</h3>
			<img alt="工作原理" src="images/bc_baas.png" name="scaleImg"/>
		</div>
	</div>
</div> -->

<div id="div5" class="row clearfix" name="homeDivOdd">
	<h3 class='text-center'><span>欢迎联络我们</span></h3>
	<div class="col-md-offset-2 col-md-8">
		<div class=" col-xs-12 visible-xs">
			<div class="col-xs-12">
				<i class="glyphicon glyphicon-map-marker"></i>
			</div>
			<div class="col-xs-12 ">
				<span>广东省深圳市福田区泰然六路海松大厦A座708室</span> <br /> <span>江苏省南京市玄武区珠江路88号新世界中心A座2715室</span>
			</div>
		</div>
		<div class="col-xs-12 visible-xs">
			<div class="col-xs-12">
				<i class="glyphicon glyphicon-globe"></i>
			</div>
			<div class="col-xs-12">
				<span class="">E-mail:2895307927@qq.com</span>
			</div>
		</div>
		<div class=" col-xs-12 visible-xs">
			<div class="col-xs-12">
				<i class="glyphicon glyphicon-qrcode"></i>
			</div>
			<div class="col-xs-12">
				<a href='http://www.chaintrix.org/' title='Chaintrix'>友情链接</a>
			</div>
		</div>

		<div class=" col-md-3 hidden-xs">
			<div class="col-md-offset-4 col-md-4">
				<i class="glyphicon glyphicon-map-marker"></i>
			</div>
			<div class="col-md-12 ">
				<span>广东省深圳市福田区泰然六路海松大厦A座708室</span> <br /> <span>江苏省南京市玄武区珠江路88号新世界中心A座2715室</span>
			</div>
		</div>
		<div class=" col-md-3 hidden-xs">
			<div class="col-md-offset-4 col-md-4">
				<i class="glyphicon glyphicon-globe"></i>
			</div>
			<div class="col-md-12">
				<span class="">E-mail:2895307927@qq.com</span>
			</div>
		</div>
		<div class="col-md-3 hidden-xs">
			<div class="col-md-offset-4 col-md-4">
				<i class="glyphicon glyphicon-qrcode"></i>
			</div>
			<div class="col-md-12">
				<a href='http://www.chaintrix.org/' title='Chaintrix'>友情链接：Chaintrix</a>
			</div>
		</div>
	</div>
</div>