
<div class="loginwrap">
	<div class="formbox">
		<div class="box col-md-10 col-md-offset-1" >
			<div class="head-info">
				
			</div>
			<div class="title" style="width:120px;">新节点申请</div>
			<div class="main-info">
				<div class="tab-content tab-bordered">
					<div class="tab-panel" ng-controller="newNodeApplyController">
						<form class="register-detail showcase-form" ng-submit="addNewNodeApply()" id="form" name="form"  novalidate enctype="multipart/form-data">
							<div class="info-right col-md-offset-1 col-md-9 ">
								<div class="form-group">
									<label class="col-sm-3 control-label">用户名ID</label>
									<div class="col-sm-6">
										<div>
											<input type="text" required name="userNameID" ng-model="newNodeApply.userNameID"
												class="form-control" placeholder="由字母、数字组成，以字母开头，6-12个字符"
												ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z]{5,12}$/">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">公司注册时间</label>
									<div class="col-sm-6"  >
										<p class="input-group">
											<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newNodeApply.registerDate" is-open="registerDateOpened" 
												max-date="currentDate"  date-disabled = "disabled(date,mode)"
												ng-required="true" close-text="Close">
											<span class="input-group-btn" >
												<button type="button" class="btn btn-default" style="height:40px;" ng-click="open1($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点IP地址</label>
									<div class="col-sm-6">
										<div>
											<input type="text"  required ng-pattern="/^[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}$/"
												name="nodeIP" ng-model="newNodeApply.nodeIP"
												class="form-control" placeholder="例如:120.27.155.77">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点ID</label>
									<div class="col-sm-6">
										<div>
											<input type="text"  required name="nodeID" ng-model="newNodeApply.nodeID"
												class="form-control" placeholder="由字母、数字组成，以字母开头，6-12个字符"
												ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z]{5,12}$/">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点具体地址</label>
									<div class="col-sm-6">
										<div>
											<input type="text"  required name="nodeAddr" ng-model="newNodeApply.nodeAddr"
												class="form-control" placeholder="">
										</div>
									</div>
								</div>
								<div class="form-group">
                       				<label class="col-sm-3 control-label">新节点IP所属区域</label>
                       				<div class="col-sm-9">
					                    <select ng-model="selectedDistrict" ng-change="selectedUnit=''" ng-options="district.name for district in districts" >  
					                    <option value="">---省---</option>  
					                    </select>  
					                    <select ng-model="selectedUnit" ng-change="selectedPosition=''" ng-options="unit.name for unit in selectedDistrict.units">  
					                    <option value="">---市---</option>  
					                    </select>  
					                     <select ng-model="selectedPosition" ng-options="unit.name for unit in selectedUnit.positions">  
					                    <option value="">---区、县---</option>  
				                    </select>  
                       				</div>
          						</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点所属机构</label>
									<div class="col-sm-6">
										<input type="text" name="nodeOrga" ng-model="newNodeApply.nodeOrga" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">公司注册时间</label>
									<div class="col-sm-6"  >
										<p class="input-group">
											<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newNodeApply.nodeCreaTime" is-open="nodeCreaTimeOpened" 
												max-date="currentDate"  date-disabled = "disabled(date,mode)"
												ng-required="true" close-text="Close">
											<span class="input-group-btn" >
												<button type="button" class="btn btn-default" style="height:40px;" ng-click="open2($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点配置-MEM</label>
									<div class="col-sm-6">
										<input type="text" name="nodeConfMEM" ng-model="newNodeApply.nodeConfMEM" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点配置-CPU</label>
									<div class="col-sm-6">
										<input type="text" name="nodeConfCPU" ng-model="newNodeApply.nodeConfCPU" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点配置-OS</label>
									<div class="col-sm-6">
										<input type="text" name="nodeConfOS" ng-model="newNodeApply.nodeConfOS" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点配置-NETWORK</label>
									<div class="col-sm-6">
										<input type="text" name="nodeConfNetwork" ng-model="newNodeApply.nodeConfNetwork" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点配置-USED-LIST</label>
									<div class="col-sm-6">
										<input type="text" name="nodeConfUsedList" ng-model="newNodeApply.nodeConfUsedList" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点负责人-ID</label>
									<div class="col-sm-6">
										<input type="text" name="nodeChargeID" ng-model="newNodeApply.nodeChargeID" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">新节点负责人联系方式</label>
									<div class="col-sm-6">
										<input type="text" name="nodeChargeContact" ng-model="newNodeApply.nodeChargeContact" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">申请加入节点类型</label>
									<div class="col-sm-6">
										<select class="form-control" ng-model="newNodeApply.nodeType" required>
											<option value="">- 请选择您的类别 -</option>
											<option value="1">主验证节点</option>
											<option value="2">从辅助节点</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">申请加入网络原因</label>
									<div class="col-sm-6">
										<input type="text" name="reason" ng-model="newNodeApply.reason" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">申请加入网络推荐人ID</label>
									<div class="col-sm-6">
										<input type="text" name="refereeID" ng-model="newNodeApply.refereeID" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">其他事项说明</label>
									<div class="col-sm-6">
										<input type="text" name="others" ng-model="newNodeApply.others" required 
											 class="form-control" placeholder=""/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-11 col-sm-1">
										<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">完成</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
