
<div class="loginwrap">
	<div class="formbox">
		<div class="box col-md-10 col-md-offset-1" >
			<div class="head-info">
				
			</div>
			<div class="title">发&nbsp;货&nbsp;单</div>
			<div class="main-info">
				<div class="tab-content tab-bordered">
					<div class="tab-panel">
						<form class="register-detail showcase-form" ng-submit="addProduct()" id="form" name="form" novalidate enctype="multipart/form-data">
							<div class="info-right col-md-offset-1 col-md-9 ">
								<div class="form-group">
									<label class="col-sm-3 control-label">采购单号</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="purchaserNum" ng-model="purchase.purchaseNum"
												class="form-control" placeholder="采购单号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">物品名称</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="articleName" ng-model="purchase.articleName"
												class="form-control" placeholder="物品名称">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">物品编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required ng-pattern="/^[0-9]{6,6}$/"
												name="articleNum" ng-model="purchase.articleNum"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购数量</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="number" ng-model="purchase.number"
												class="form-control" placeholder="采购数量">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购单位</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="iu" ng-model="purchase.iu"
												class="form-control" placeholder="采购单位">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购公司</label>
									<div class="col-sm-7">
										<input type="text" name="companyName" ng-model="purchase.purchaser.companyName" required 
											 class="form-control" placeholder="生产公司"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购公司编号</label>
									<div class="col-sm-7">
										<input type="text" name="companyNum" ng-model="purchase.purchaser.companyId" required 
											 class="form-control" placeholder="生产公司编号"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">价格</label>
									<div>
										<div class="col-sm-4">
											<input type="text"  required name="price" ng-model="prod.price"
												class="form-control" placeholder="价格">
										</div>
										<div class="col-sm-3">
											<span>元/</span><span ng-bind="purchase.iu"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">生产日期</label>
									<div class="col-sm-7">
										<div>
											<input type="date"  required name="productedDate" ng-model="prod.productDate"
												class="form-control" placeholder="采购单位">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">保质期</label>
									<div class="col-sm-7">
										<div>
											<input type="date"  required name="expirationDate" ng-model="prod.expirationDate"
												class="form-control" placeholder="保质期">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">生产数量</label>
									<div>
										<div class="col-sm-4">
											<input type="text"  required name="expirationDate" ng-model="prod.productQuantity"
												class="form-control" placeholder="生产数量">
										</div>
										<div class="col-sm-3">
											<span ng-bind="purchase.iu"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">图片</label>
									<div class="col-sm-7">
										<div>
											<img class="img img-circle" ng-src="{{prod.image}}"  
				                      			 alt="username" width="90" height="90"> <br>  
				                       <input type="file" file-model="prod.image" required id="prodImg" name="prodImg"/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">产品负责人名</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="principalName" ng-model="prod.principalName"
												class="form-control" placeholder="产品负责人名">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">产品负责人编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="principalNum" ng-model="prod.principalNum"
												class="form-control" placeholder="产品负责人编号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输公司名称</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="transComName" ng-model="prod.transComName"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输公司编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="transComName" ng-model="prod.transComNum"
												class="form-control" >
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-11 col-sm-1">
										<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">完成</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
