
<div class="loginwrap">
	<div class="formbox">
		<div class="box col-md-10 col-md-offset-1" >
			<div class="head-info">
				
			</div>
			<div class="title">原料运输单</div>
			<div class="main-info">
				<div class="tab-content tab-bordered">
					<div class="tab-panel">
						<form class="register-detail showcase-form" ng-submit="addRawmTrans()" id="form" name="form" novalidate enctype="multipart/form-data">
							<div class="info-right col-md-offset-1 col-md-9 ">
								
								<div class="form-group">
									<label class="col-sm-3 control-label">物品名称</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="articleName" ng-model="rawm.rawmName"
												class="form-control" placeholder="物品名称">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">物品编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required ng-pattern="/^[0-9]{6,6}$/"
												name="articleNum" ng-model="rawm.rawmNum"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购数量</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="number" ng-model="rawm.number"
												class="form-control" placeholder="采购数量">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">计量单位</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="iu" ng-model="rawm.iu"
												class="form-control" placeholder="计量单位">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">物件发出负责人名</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="senderName" ng-model="transRaw.senderName"
												class="form-control" placeholder="物件发出负责人名">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">物件发出负责编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="senderNum" ng-model="transRaw.senderNum"
												class="form-control" placeholder="物件发出负责编号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输价格</label>
									<div>
										<div class="col-sm-4">
											<input type="text"  required name="price" ng-model="transRaw.price"
												class="form-control" placeholder="运输价格">
										</div>
										<div class="col-sm-3">
											<span>元/</span><span ng-bind="rawm.iu"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输单号</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="transportNum" ng-model="transRaw.transportNum"
												class="form-control" placeholder="运输单号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输人名</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="carrierName" ng-model="transRaw.carrierName"
												class="form-control" placeholder="运输单号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输人编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="carrierNum" ng-model="transRaw.carrierNum"
												class="form-control" placeholder="运输单号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">发件公司</label>
									<div class="col-sm-7">
										<input type="text" name="companyName" ng-model="rawm.seller.companyName" required 
											 class="form-control" placeholder="生产公司"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">发件公司地址</label>
									<div class="col-sm-7">
										<input type="text" name="companyNum" ng-model="rawm.seller.noderAddress" required 
											 class="form-control" placeholder="生产公司编号"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">收件公司</label>
									<div class="col-sm-7">
										<input type="text" name="pcompanyName" ng-model="rawmp.purchaser.companyName" required 
											 class="form-control" placeholder="生产公司"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">收件公司地址</label>
									<div class="col-sm-7">
										<input type="text" name="pcompanyNum" ng-model="rawmp.purchaser.noderAddress" required 
											 class="form-control" placeholder="生产公司编号"/>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-offset-9 col-sm-1">
										<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">完成</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
