
<div class="loginwrap">
	<div class="formbox">
		<div class="box col-md-10 col-md-offset-1" >
			<div class="head-info">
				
			</div>
			<div class="title">发&nbsp;货&nbsp;单</div>
			<div class="main-info">
				<div class="tab-content tab-bordered">
					<div class="tab-panel">
						<form class="register-detail showcase-form" ng-submit="addRawmaterial()" id="form" name="form" novalidate enctype="multipart/form-data">
							<div class="info-right col-md-offset-1 col-md-9 ">
								<div class="form-group">
									<label class="col-sm-3 control-label">采购单号</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="purchaserNum" ng-model="purchase.purchaseNum"
												class="form-control" placeholder="采购单号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">原料名称</label>
									<div class="col-sm-7">
										<div>
											<input type="text" required name="articleName" ng-model="purchase.articleName"
												class="form-control" placeholder="原料名称">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">原料编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required ng-pattern="/^[0-9]{6,6}$/"
												name="articleNum" ng-model="purchase.articleNum"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购数量</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="number" ng-model="purchase.number"
												class="form-control" placeholder="采购数量">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购单位</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="iu" ng-model="purchase.iu"
												class="form-control" placeholder="采购单位">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购公司</label>
									<div class="col-sm-7">
										<input type="text" name="companyName" ng-model="purchase.purchaser.companyName" required 
											 class="form-control" placeholder="生产公司"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">采购公司编号</label>
									<div class="col-sm-7">
										<input type="text" name="companyId" ng-model="purchase.purchaser.companyId" required 
											 class="form-control" placeholder="生产公司编号"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">价格</label>
									<div class="col-sm-7">
										<div class="col-sm-8">
											<input type="text"  required name="price" ng-model="rawm.price"
												class="form-control" placeholder="价格">
										</div>
										<div class="col-sm-3">
											<span>元/</span><span ng-bind="purchase.iu"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">生产日期</label>
									<div class="col-sm-7">
										<div>
											<input type="date"  required name="productedDate" ng-model="rawm.productedDate"
												class="form-control" placeholder="采购单位">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">保质期</label>
									<div class="col-sm-7">
										<div>
											<input type="date"  required name="expirationDate" ng-model="rawm.expirationDate"
												class="form-control" placeholder="保质期">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">生产数量</label>
									<div class="col-sm-7">
										<div class="col-sm-8">
											<input type="text"  required name="productQuantity" ng-model="rawm.productQuantity"
												class="form-control" placeholder="生产数量">
										</div>
										<div class="col-sm-3">
											<span ng-bind="purchase.iu"></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">原产地</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="origin" ng-model="rawm.origin"
												class="form-control" placeholder="原产地">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">图片</label>
									<div class="col-sm-7">
										<div>
											<img class="img img-circle" ng-src="{{rawm.image}}"  
				                      			 alt="username" width="90" height="90"> <br>  
				                       <input type="file" file-model="rawm.image" required id="rawmImg" name="rawmImg"/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">原料负责人名</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="principalName" ng-model="rawm.principalName"
												class="form-control" placeholder="原料负责人名">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">原料负责人编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="principalNum" ng-model="rawm.principalNum"
												class="form-control" placeholder="原料负责人编号">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输公司名称</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="transComName" ng-model="rawm.transComName"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">运输公司编号</label>
									<div class="col-sm-7">
										<div>
											<input type="text"  required name="transComName" ng-model="rawm.transComNum"
												class="form-control" >
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-11 col-sm-1">
										<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">完成</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
