<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tulingchain.mapper.billMapper.BillNoderMapper" >
  <resultMap id="BaseResultMap" type="com.tulingchain.model.bill.BillNoder" >
    <id column="id" property="id"/>
    <result column="noderName" property="noderName" />
    <result column="idNumber" property="idNumber" />
    <result column="noderProvince" property="noderProvince" />
    <result column="noderCity" property="noderCity" />
    <result column="noderCounty" property="noderCounty" />
    <result column="noderAddress" property="noderAddress" />
    <result column="email" property="email"/>
    <result column="password" property="password" />
    <result column="noderImg" property="noderImg" />
    <result column="noderKey" property="noderKey" />
    <result column="noderType" property="noderType" />
    <result column="noderState" property="noderState" />
    <result column="business" property="business" />
    <result column="registerStart" property="registerStart" />
    <result column="applyTime" property="applyTime" />
    <result column="companyName" property="companyName" />
    <result column="companyId" property="companyId" />
    <result column="companyCode" property="companyCode" />
    <result column="lawerName" property="lawerName" />
    <result column="companyRegist" property="companyRegist" />
    <result column="noderFile" property="noderFile" />
    <result column="record" property="record" />
    <result column="nodeCount" property="nodeCount" />
    <result column="nodeIp" property="nodeIp" />
    <result column="chainCount" property="chainCount" />
    <result column="chainId" property="chainId" />
    <result column="nodePubKey" property="nodePubKey" />
    <result column="nodePrivateKey" property="nodePrivateKey" />
    <result column="noderEnd" property="noderEnd" />
    <result column="upReason" property="upReason" />
    <result column="endReason" property="endReason" />
    <result column="protectRecord" property="protectRecord" />
    <result column="authority" property="authority" />
  </resultMap>
  
  
    <resultMap id="NoderServerMap" type="com.tulingchain.model.bill.BillNoder" >
	<id column="id" property="id"/>
	<result column="regDate" property="regDate" />
	<result column="noderType" property="noderType" />
	<result column="nodePubKey" property="nodePubKey" />
	<result column="noderState" property="noderState" />
  </resultMap>
  
	<!-- 添加属性'useGeneratedKeys'和'keyProperty',其中keyProperty是java对象的属性
			Mybatis执行完插入语句后，自动将自增长值赋值给对象的属性id,因此可以使用
			getter方法获取。
	 -->
  <insert id="save"    keyColumn="id"    keyProperty="id"   useGeneratedKeys="true">
   insert into bill_noder_ (noderName,idNumber,noderProvince,noderCity,noderCounty,noderAddress,email,password,noderImg,
    noderKey,noderType,noderState,business,registerStart,applyTime,companyName,companyId,companyCode,lawerName,companyRegist,
    noderFile,record,nodeCount,nodeIp,chainCount,chainId,nodePubKey,nodePrivateKey,noderEnd,upReason,endReason,protectRecord,authority
      )
    values (#{noderName}, #{idNumber},#{noderProvince},#{noderCity},#{noderCounty},#{noderAddress},#{email},#{password},#{noderImg},#{noderKey},
    #{noderType},#{noderState},#{business},#{registerStart},#{applyTime},#{companyName},#{companyId},#{companyCode},#{lawerName},
    #{companyRegist},#{noderFile},#{record},#{nodeCount},#{nodeIp},#{chainCount},#{chainId},#{nodePubKey},#{nodePrivateKey},#{noderEnd},#{upReason},#{endReason},
    #{protectRecord},#{authority}
      )
  </insert>
  
    <delete id="delete">
  	delete from bill_noder_
  	where id=#{id}
 	 </delete>
  
  <select id="queryLogin" resultMap="BaseResultMap" parameterType="BillNoder" >
	select *
	from bill_noder_
	where email=#{email} and password=#{password}
  </select> 
	
  <select id="selectByCode" resultMap="BaseResultMap" >
	select *
	from bill_noder_
	where code=#{code} 
  </select> 
  
   <update id="updateImg" parameterType="BillNoder">
	update  bill_noder_
	set noderImg = #{noderImg}
	where noderName = #{noderName}
  </update>  
  
     <update id="updatePubKPriK"  parameterType="com.tulingchain.model.bill.BillNoder">
	update  bill_noder_
	set nodePubKey = #{nodePubKey},nodePrivateKey=#{nodePrivateKey}
	where companyName = #{companyName}
  </update>
  
  <update id="updateState" parameterType="BillNoder">
	update  bill_noder_
	 <set >
      <if test="noderKey != null" >
        noderKey = #{noderKey},
      </if>
      	noderState=#{noderState}
    </set>
	where id = #{id}
  </update> 
  
  <delete id="deleteNoder" parameterType="BillNoder">
	delete from bill_noder_
  	where id=#{id}
  </delete>
  
  <update id="updatePwd" parameterType="BillNoder">
	update  bill_noder_
	set password = #{1}
	where noderName = #{0}
  </update> 
 
   <select id="getNoderByEmail" resultMap="BaseResultMap" parameterType="String">
  	 select *
  	 from bill_noder_
  	 where email=#{email}
   </select> 
   
   <select id="getNoderByName" resultMap="BaseResultMap" parameterType="String">
  	select *
  	from bill_noder_
  	where noderName=#{noderName}
  </select> 
 
 <select id="getNoderById" resultMap="BaseResultMap" parameterType="Integer">
  	select *
  	from bill_noder_
  	where id=#{id}
  </select> 
   <!-- 查询Noder信息服务 -->
   <select id="getNoderSer" resultMap="NoderServerMap" parameterType="Integer">
  	select id,registerStart,noderType,noderKey,noderState
  	from bill_noder_
  	where id=#{id}
  </select> 
  
  <select id="getNoderIpSer" resultType="String" parameterType="Integer">
  	select nodeIp
  	from bill_noder_
  	where id=#{id}
  </select> 
  
  <select id="getNoderPubKeySer" resultType="String" parameterType="Integer">
  	select nodePubKey
  	from bill_noder_
  	where id=#{id}
  </select> 
  
   <select id="getNoderPriKeySer" resultType="String" parameterType="Integer">
  	select nodePrivateKey
  	from bill_noder_
  	where id=#{id}
  </select> 
  
  <select id="getNoderRegDateSer" resultType="Date" parameterType="Integer">
  	select registerStart
  	from bill_noder_
  	where id=#{id}
  </select> 
  
  <select id="getNoderRegUserCountSer" resultType="String" parameterType="Integer">
  	select nodeCount
  	from bill_noder_
  	where id=#{id}
  </select> 
  
  <select id="getNoderByComNum" resultMap="BaseResultMap" parameterType="String">
  	select *
  	from bill_noder_
  	where companyId=#{companyId}
  </select> 
  
  <select id="getNoderByComName" resultMap="BaseResultMap" parameterType="String">
  	select *
  	from bill_noder_
  	where companyName=#{companyName}
  </select> 
  
  <select id="listAll" resultMap="BaseResultMap">
  	select *
  	from bill_noder_
  </select> 
  
  <select id="listAllByState" resultMap="BaseResultMap">
  	select *
  	from bill_noder_
  	where noderState = '0'
  </select> 
  
  <select id="listAllByState2" resultMap="BaseResultMap">
  	select *
  	from bill_noder_
  	where noderState = '1'
  </select> 
  
  <select id="getNoderByComId" resultType="int" parameterType="String">
  	select id
  	from bill_noder_
  	where companyId=#{companyId}
  </select> 
	
  
</mapper>