<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tulingchain.mapper.billMapper.PayrollMapper">
	<resultMap type="com.tulingchain.model.bill.Payroll" id="BaseResultMap">
		<id column="payroll_id" property="payroll_id" />
		<result column="payrollName" property="payrollName" />
		<result column="billNumber" property="billNumber" />
		<result column="payee" property="payee" />
		<result column="moneySum" property="moneySum" />
		<result column="discountingOrg" property="discountingOrg" />
		<result column="expireDate" property="expireDate" />
		<result column="whenSolutionPay" property="whenSolutionPay" />
		<result column="operateType" property="operateType" />
		<result column="transferTo" property="transferTo" />
		<result column="remark" property="remark" />
		<result column="createId" property="createId"/>
		<result column="transferId" property="transferId"/>
		<association property="payrollNoder" column="payrollName"
			javaType="com.tulingchain.model.bill.BillNoder" select="selectBillNoderByid">
			<id column="id" property="id" />
			<result column="companyName" property="companyName" />
			<result column="noderAddress" property="noderAddress" />
		</association>
		<association property="payeeNoder" column="payee"
			javaType="com.tulingchain.model.bill.BillNoder" select="selectBillNoderByid">
			<id column="id" property="id" />
			<result column="companyName" property="companyName" />
			<result column="noderAddress" property="noderAddress" />
		</association>
		<association property="discountingOrgNoder" column="discountingOrg"
			javaType="com.tulingchain.model.bill.BillNoder" select="selectBillNoderByid">
			<id column="id" property="id" />
			<result column="companyName" property="companyName" />
			<result column="noderAddress" property="noderAddress" />
		</association>
	</resultMap>
	<resultMap id="NoderResultMap" type="com.tulingchain.model.bill.BillNoder">
		<id column="id" property="id" />
		<result column="companyName" property="companyName" />
		<result column="noderAddress" property="noderAddress" />
	</resultMap>
	<insert id="save" keyColumn="payroll_id" keyProperty="payroll_id"
		useGeneratedKeys="true">
		insert into bill_payroll_
		(payrollName,billNumber,payee,moneySum,discountingOrg,expireDate,whenSolutionPay,operateType,remark,createId,transferId)
		values
		(#{payrollName},#{billNumber},#{payee},#{moneySum},#{discountingOrg},#{expireDate},#{whenSolutionPay},#{operateType},#{remark},#{createId},#{transferId})
	</insert>
	<select id="listAll" resultMap="BaseResultMap" parameterType="int">
		select * from bill_payroll_ where payrollName=#{id}
	</select>

	<select id="selectBillNoderByid" resultMap="NoderResultMap"
		parameterType="int">
		select companyName,noderAddress from bill_noder_ where
		id=#{id}
	</select>
	<update id="updateCreateThrnsferId"  parameterType="com.tulingchain.model.bill.Payroll">
		update  bill_payroll_
		set transferId = #{transferId},createId = #{createId}
		where payroll_id = #{payroll_id}
  	</update> 
</mapper>